:root{
    --branco:#F8F9FA;
    --fonte-principal:'Inter', sans-serif;
}
body{
    height: 100vh;
    background-color: white;
}



.cabecalho ,.principal{
    font-family: var(--fonte-principal);
}

.carousel-caption{
    /*modifica a altura do texto, no caso colocando mais ao centro*/
    height: 60%;
}

.margem{
    margin: auto !important;
}

.txt-cat{
    font-size: 12px ;
    color: white;
}

.texto-menor{
    font-size: 13px;
}

.div-facilidades{
    width: 325px;
    color: #DAFF01;
}

.bg_botao{
    background-color: #9353FF !important;

}