:root{
    --branco:#F8F9FA;
    --fonte-principal:'Inter', sans-serif;
}
body{
    background-color: white;
}

.item_color{
    color: var(--branco) !important ;
}

.cabecalho ,.principal{
    font-family: var(--fonte-principal);
}

.carousel-caption{
    /*modifica a altura do texto, no caso colocando mais ao centro*/
    height: 60%;
}

.container{
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

#tamanho{
    width: 110px ;
    height: 100px;
}

.borda{
   border-color: transparent !important;
}

.txt-cat{
    font-size: 12px ;
    color: white;
}