:root{
    --branco:#F8F9FA;
    --fonte-principal:'Inter', sans-serif;
}
body{
    height: 100vh;
    background-color: white;
}

.item_color{
    color: var(--branco) !important ;
}

.cabecalho ,.principal{
    font-family: var(--fonte-principal);
}

.carousel-caption{
    /*modifica a altura do texto, no caso colocando mais ao centro*/
    height: 60%;
}

.margem{
    margin: auto !important;
}
.borda{
   border-color: transparent !important;
}

.txt-cat{
    font-size: 12px ;
    color: white;
}
